.keycap-keyboard-container {
  display: flex;
  flex-direction: column;
}

.keycap-keyboard-row {
  display: flex;
  flex-direction: row;
}

.keycap-special-key {
  padding: 10px 30px;
}

.keycap-standard-key {
  padding: 10px 16px
}